{% extends "layout/main.html" %}

{% block body %}
<h2>FIND ME A TACO</h2>


<hr>

<div class="row">
  <div class="span6">
    <label for="user_address">I AM HERE NOW<br>Address/Zip Code</label>
    <input type="text" id="user_address" name="user_address" value="">
    <br>
    <input type="button" id="locate_button" class="btn" value="Locate">

  </div>

  <div class="span6">
    <form method="POST">
      <label for="user_address">FIND TACOS<br>Search on Foursquare</label>
      <input type="text" id="user_latlng" name="user_latlng" size="40"><br>
      <input type="submit" id="search_button" class="btn" value="Search 4SQ" disabled=disabled>
    </form>
  </div>
</div>

<hr>

{% endblock %}


{% block scripts %}
<!--
	Google Maps API
	https://developers.google.com/maps/documentation/javascript/tutorial

	Get API Key here >> https://code.google.com/apis/console/b/0/
	Put API Key in line below

--> 
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCucfZkmQ-P7jDb09NJ3_mKgCVTifPvCYU&sensor=false"></script>

<!--
Google Geocoding Javascript API
https://developers.google.com/maps/documentation/javascript/geocoding
-->
<script>
  var geocoder;
  var google_location;

  // when html dom is ready, run this code  
  jQuery(document).ready(function(){

      // initialize google geocoder
      geocoder = new google.maps.Geocoder();

      // locate button click event
      jQuery('#locate_button').click(codeAddress);
      
  });

  var codeAddress = function(){
    var address = jQuery('#user_address').val();
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {

        console.log("received geo info from Google");
        console.log(results);
        console.log(results[0].geometry.location);
        
        google_location = results[0].geometry.location;
        latlng_str = google_location.lat() + "," + google_location.lng();
        console.log(latlng_str);

        jQuery('#user_latlng').val(latlng_str);
        jQuery('#search_button').removeAttr('disabled');

      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
</script>
{% endblock%}

